/*global*/
.test {  /* style the transfer element */
			border: #AAA 2px dashed;
		}

.section-content .navbar {
    margin-bottom: 20px;
}

.navbar-inner > h4 {
	display: inline-block;
	width: auto;
        margin-left: 10px;
}

.navbar-inner > h4 > i {
    padding-right: 10px;    
}

.navbar-inner {
	min-height: 15px;
	height: 40px;
	padding-right: 10px;
	border-left: 0px transparent;
	border-right: 0px transparent;
	border-top: 0px transparent;
	border-radius: 5px 5px 0 0;
}

.form-horizontal button {
    padding-top: 6px;
    padding-bottom: 7px;
}

.img-polaroid {
	border-radius : 5px;
}

/*CSS pour affichage en grille*/

.imaviaGrid .imgWrapper {
	height: auto;
	width: 100%;
	background-color: rgb(255,255,255);
}

.imaviaGrid #UserList {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
	text-align:center;
	padding-bottom: 20px;
}

.imaviaGrid div.border {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
}

.imaviaGrid .userBlock {
	position: relative;
	top: 0px;
	background-color: rgb(240,240,240);
	width: 200px;
	height: 115px;
	padding: 5px;
	font-size: 80%;
	display: block;
	float: left;
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	box-shadow: 0 0 3px 2px #EEEEEE inset, 2px 2px 2px 1px #c2c2c2;
	margin: 10px;
}

.imaviaGrid .userPhoto {
	width: 30%;
	height: auto;
	display: inline-block;
}

.imaviaGrid .imgBtns {
	position: relative;
	top: 2px;
	left: 4px;
}
.imaviaGrid i.icon-group {
	margin-right: 10px;
}

.imaviaGrid div.divider {
  *width: 100%;
  height: 1px;
  margin: 4px 2px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 0 2px 0px #e5e5e5 ;
}

.imaviaGrid .InfosBlock {
	width: 125px;
	height: 100px;
	float: right;
}

.imaviaGrid .InfosBlock > p:first-child {
	font-weight: bold;
}

.imaviaGrid .InfosBlock > p:first-child+p {
	font-weight: bold;
}

.imaviaGrid .InfosBlock p {
	margin: 0;
}

.imaviaGrid #UserContextMenu, #btnGoUp {
	display: none;
}

/*CSS pour affichage en liste*/
.imaviaList .userBlock {
	position: relative;
	top: -10px;
	background-color: rgb(240,240,240);
	width: auto;
	height: auto;
	padding: 5px;
	font-size: 80%;
	display: block;
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
        box-shadow: none;
}

.imaviaList .userPhoto {
	width: 2%;
	height: auto;
	display: inline-block;
}

.imaviaList .imgBtns {
	display: inline-block;
	position: relative;
	top: 0px;
	right: 0px;
}

.imaviaList i.icon-group {
	margin-right: 10px;
}

.imaviaList .InfosBlock {
	width: 90%;
	display: inline-block;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

.imaviaList .InfosBlock p {
	display: inline-block;
	font-size: 105%;
}

.imaviaList .InfosBlock p > span {
	display: inline-block;
}

.imaviaList p+p {
	margin-left: 20px;
}

.imaviaList p.muted, p.text-warning {
	margin-left: 20px;
	font-size: 80%;
}

.imaviaList .topBorderRadius {
	border-radius: 5px 5px 0 0;
	border: 1px solid #CCCCCC;
}

.imaviaList .bottomBorderRadius {
	border-radius: 0 0 5px 5px;
	border: 1px solid #CCCCCC;
}

/*modal box*/

#myModal {
    display: none;
    width: 950px;
}

#myModal .modal-body {
    height: 600px;
    max-height: 800px;    
}

#myModal i+input {
    position: relative;
    right: 0px;
}

/*SocialIcons*/

#socialIcons div {
    display: none;
}

#socialIcons div#socialIconsList {
    display: inline-block;        
}

/*hidden input*/

#imaviaForm div[class*=hiddenField], div[id^=hiddenField] {
    display: none;
}

/*label modal body*/
#imaviaForm label:hover {
    cursor: text;
}

#imaviaForm i+label {
    display: inline-block;
}

#imaviaForm i {
    vertical-align: text-top;
}

#imaviaForm a {
    display: inline-block;
}

.icon-plus-sign:hover {
    cursor: pointer;    
    color: lightgreen;
}

.icon-minus:hover {
    cursor: pointer;
    color: red;    
}


#bloc1 {
    border-radius: 5px 0px 0px 5px;
    height: 795px;
    position: relative;
    top: -10px;
    left: -10px;
    margin-left: 0px;
    margin-bottom: -10px;
    width: 280px;
}

#bloc1 > div {
    margin-bottom: 20px;
}

#bloc1 > input {
    display: inline-block;
}

.UserPic {
    margin-left: -42px;
    position: relative;
    left: 50%;
    margin-bottom: 20px;
}

#spinner {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25%;
    margin-left: -25%;
}

#imaviaForm div[class*="span"] {
        margin-left: 0;
}

#imaviaForm {
    padding-top: 10px;
}

#imaviaForm #socialIcons, #imaviaForm #ValidatorBtn {
    margin-left: 10px;
}

#imaviaForm #inputFields {
    position: absolute;
    top: 820px;
    left: 1300px;
}

#imaviaForm #socialIcons {
    width: 280px;
}

#imaviaForm #socialIcons input {
    width: 80%;
}

#imavia_facetprofilebundle_profilecreationtype_ddn select {
    width: auto;
}

h4 + a > img {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    width: 106px;
    height: 27px;
}

#logoFormagraph {
    position: relative;
    top: 25px;
    left: 5%;
    vertical-align: top;
}

#imaviaGeneral #btnList {
    position: relative;
    left: 15%;
    display: inline-block;
    width: auto;
}

#imaviaGeneral #btnList a {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 15px;
}

#imaviaGeneral a > i[class*="icon"] {
    vertical-align: middle;
    margin-right: 5px;
}

#imaviaGeneral {
    min-height: 200px;
    padding-top: 50px
}

a[class*="disabled"]:hover {
    opacity: 0.2;
}

a[class*="disabled"] + span {
    display: none;
    position: relative;
    top: -50px;
    left: 250px;
    color: rgb(255,0,0);
    font-weight: bold;
    background-color: #c2c2c2;
    border-radius: 5px;
    border: 1px dashed #313131;
    padding: 5px;
    margin-bottom: -32px;
    width: 175px;
    text-align: center;
}

a[class*="disabled"]:hover + span {
    display: block;
}