/*List
*feuille de style css pour l'affichage des profils en liste
*/

#UserList {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
	text-align:center;
	padding-bottom: 20px;
}

div.border {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: -1px;
}

#SpinnerBlock > div.border {
	border-radius: 0px;
}

.addPaddingTop {
	padding-top: 80px;
}

.userBlock {
	position: relative;
	top: -10px;
	background-color: rgb(240,240,240);
	width: auto;
	height: auto;
	padding: 5px;
	font-size: 80%;
	display: block;
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	margin-left: 10px;
	margin-right: 10px;
}

.userPhoto {
	width: 2%;
	height: auto;
	display: inline-block;
}

.imgBtns {
	display: inline-block;
	position: relative;
	top: 0px;
	right: 0px;
}

i.icon-group {
	margin-right: 10px;
}

div.divider {
  width: 0px;
  height: 15px;
  margin: 0 10px 0 10px;
  border-right: 1px solid #ffffff;
  display: inline-block;

}

.navbar-inner {
	min-height: 15px;
	height: 40px;
	padding-right: 10px;
}

.navbar-inner {
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 5px 5px 0 0;
}

.navbar .btn, .navbar .btn-group {
    margin-top: 0px;
}

.InfosBlock {
	width: 90%;
	display: inline-block;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

.InfosBlock p {
	display: inline-block;
	font-size: 105%;
}

.InfosBlock p > span {
	display: inline-block;
}

p+p {
	margin-left: 20px;
}

p.muted, p.text-warning {
	margin-left: 20px;
	font-size: 80%;
}

.topBorderRadius {
	border-radius: 5px 5px 0 0;
	border: 1px solid #CCCCCC;
}

.bottomBorderRadius {
	border-radius: 0 0 5px 5px;
	border: 1px solid #CCCCCC;
}